{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> {%block title %}  {%endblock %} </title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<h3>{%block subtitle %}  {%endblock %}</h3>

	<a href="{% url 'client:edit' %}">Editar</a>
	<a href="{% url 'client:edit_password' %}">Editar Password</a>
	<a href="{% url 'client:show' user.username  %}">Ver perfil</a>
	<a href="{% url 'client:logout' %}">Salir</a>

	{% if messages %}
		<ul>
	    {% for message in messages %}
	    <li {% if message.tags %} class = "{{message.tags}}_message" {%endif%} >{{ message }}</li>
	    {% endfor %}
		</ul>
	{% endif %}

	{%block content %}  {%endblock %}

</body>
</html>