{% extends 'client/bases/base_client.html'%}

{% block title %} Editar Password {% endblock %}

{% block scripts %}
	{% load staticfiles %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> 
{% endblock %} 

{% block content %}

	<div class="collection">
    <a href="{% url 'client:edit' %}" class="collection-item">Perfil</a>
    <a href="{% url 'client:edit_password' %}" class="collection-item active">Password</a>
    <a href="{% url 'client:edit_social' %}" class="collection-item">Redes Sociales</a>
  </div>

	<div class = "class_container_form" >
		<form method="post" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="actualizar">
		</form>
	</div>
{% endblock %}


{% block footer %} {% endblock %} 