{% load client_extras %}

<html>
<head>
	<meta charset="UTF-8">
	<title> {{ user.username }}</title>
</head>
<body>

	<h3>Hola Usuario  {{ user.username|title }}  </h3>
	<p>Biografía </p>
	<p> {{user.client.bio|truncatechars:100  }} </p>

	{% if user.socialnetwork %}
		{% for field in user.socialnetwork|list_fields %}
			{% with user.socialnetwork|get_value:field as value %}
				
				{% if value %}
					<p> {{ field }} </p>
					<p> {{ value }} </p>
				{% endif %}
				
			{% endwith %}
			
		{% endfor %}
	{% endif %}


</body>
</html>



